.container {
	width: 80%;
	margin: 0 auto;
}

header {
  text-align: left;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
	background: black;
  height: fill; 
}

.logo {
  margin-bottom: 25px; 
}

a {
  text-decoration: none; 
  color: inherit; 
  padding: 10px; 
}

a:hover {
  background: #073145; 
  color: white; 
}
h4 {
	border: solid 3px;
	padding: 5px;
	border-radius: 10px;
	background: #073145;

}	

body {
background: #0999DE;
text-align: left;
color: white;
}
#main {
	width: 1000px;
	height: 600px;
	background: #06D57C;
	margin: 2px auto;
	border:solid 500px #057E4A;
}
h1 {
	text-align: center;
	font-family:"Georgia";
	font: 24pt;
	color: #ffffff;
	

}
	
p {
	border-width: 10px;
	border-style: solid;
	padding: 5px;
	border-radius: 10px;
	
}
hr {
	height: 2px;
	color: #ffffff;
}
p{
	font-family:"Georgia";
	font-size: 12pt;
	text-align: left;
	text-indent: 8px;
	color: #ffffff;
}	
h2 {
	text-align: center;
	font-family:"Georgia";
	font: 2pt;
	color: #ffffff;
	border: solid 10px black;
}
h3 {
	text-align: left;
	border: solid 3px;
	padding: 5px;
	color: #ffffff;
}
p {
	font-family:"georgia";
	font-size: 12pt;
	text-indent: 8px;
	color: #ffffff;
}
