
	
body {
	background: #0886CC;
	text-align: left;
	border:solid 3px #E31212;
	padding: 10px;
	border-radius: 30px;
	color: white;

}


h4 {
	border: solid 3px;
	padding: 5px;
	border-radius: 10px;
	background: #FF0013;
	
}	
head {
	background: #FF0013;
}


hr {
	border-color: #E31212;
}

.container {
 width: 80%;
 margin: 0 auto;
 }
 
